<section class="filters">
  <div class="box">
    <%= @website.filters_regexp.to_s %>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th>id</th>
        <th>type</th>
        <th>filter</th>
      </tr>
    </thead>
    <tbody>
    <% @filters.each do |f| %>
      <tr>
        <td><%= f.id %></td>
        <td><%= f.filter_type %></td>
        <td><%= f.filter %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</section>