<h1><%= @website.url %></h1>

<section class="progress">
	<div class="progress-bar offline">
		<div class="progress" data-progress="0" data-stat="progress"></div>
	</div>
</section>

<section class="stats">
	<table class="table table--centered-text table--full">
		<thead>
			<tr>
				<th>%</th>
				<th>Crawled</th>
				<th>Total Pages</th>
				<th>PPS</th>
        <th>Videos</th>
        <th>Videos Pending</th>
        <th>Jobs</th>
				<th>Time Remaining</th>
			</tr>
		</thead>

		<tbody class="bordered">
			<tr>
				<td data-stat="percent">n/a</td>
        <td data-stat="crawled_pages">n/a</td>
        <td data-stat="total_pages">n/a</td>
        <td data-stat="pages_per_second">n/a</td>
        <td data-stat="num_videos">n/a</td>
        <td data-stat="num_videos_pending">n/a</td>
        <td data-stat="jobs">n/a</td>
        <td data-stat="time_remaining">n/a</td>
			</tr>
		</tbody>
	</table>
</section>

<section class="page-queue">
	<table class="table table--full table--left-text">
		<thead>
			<tr>
				<th colspan="2" class="center">Current Page Queue</th>
			</tr>
			<tr>
        <th>
          Status
        </th>
				<th width="100%">
					URL
				</th>
			</tr>
		</thead>

		<tbody>
      <tr>
        <td colspan="2">
          Loading crawl queue...
        </td>
      </tr>
		</tbody>
  </table>
</section>

<script>
	document.addEventListener("DOMContentLoaded", function() {
		initialize();
	});

	function initialize() {
    update_stats();
    update_queue();
  }

  function update_crawl_status(status) {
    if (status == 'stopped') {
      $$('.progress-bar').classList.add('offline')
    } else {
      $$('.progress-bar').classList.remove('offline')
    }
  }

  function update_progress(progress) {
    var $bar = $$(".progress-bar .progress")
    $bar.dataset.progress = progress
    $bar.style.width = progress + "%";
  }

  function website_base_url() {
    return "/websites/<%= @website.id %>";
  }

  function render_queue(data) {
    let body = document.createElement("tbody");

    if (data.length == 0) {
      var oldQueueBody = $$(".page-queue table tbody");
      oldQueueBody.innerHTML = '<tr><td colspan="2">There are no pages being crawled or processed.</td></tr>'

      return
    }

    for (i in data) {
      let page = data[i];

      var tr = document.createElement("tr")

      var td = document.createElement("td")
      td.innerHTML = page.status
      td.classList.add("page")
      td.classList.add(page.status)
      tr.appendChild(td)

      var td = document.createElement("td")
      td.innerHTML = page.url
      td.classList.add("page")
      td.classList.add(page.status)
      tr.appendChild(td)
      body.appendChild(tr)
    }

    var queueTable = $$(".page-queue table");
    var oldQueueBody = $$(".page-queue table tbody");

    queueTable.replaceChild(body, oldQueueBody);
  }

  function update_queue() {
    fetch(website_base_url() + "/get_queue")
      .then(function(response) {
        return response.json()
      })
      .then(function(data) {
        render_queue(data)
      })
      .then(function() {
        setTimeout(update_queue, 2000)
      })
  }

	function update_stats() {
    fetch("/websites/<%= @website.id %>/get_stats")
      .then(function(response) {
        return response.json()
      })
      .then(function(data) {
        for (field in data) {
          let fieldSelector = "[data-stat=\"" + field + "\"]"
          let entity = $$(fieldSelector)

          if (entity) {
            entity.innerHTML = data[field]
          }

          if (field == 'num_videos') {
            let anchor = document.createElement("a")
            anchor.href = '<%= videos_path(name: @website.name) %>'
            anchor.innerHTML = data[field]
            entity.innerHTML = '';
            entity.appendChild(anchor)
          }

          if (field == 'crawl_status') {
            update_crawl_status(data[field])
          }

          // treat the progress bar differently
          if (field == 'percent') {
            update_progress(data[field])
          }
        }
      })
    .then(function() {
      setTimeout(update_stats, 5000)
    })
	}
</script>
