<section>
  <table class="table table--full">
    <thead>
      <tr>
        <th>ID</th>
        <th>Status</th>
        <th>URL</th>
      </tr>
    </thead>

    <tbody class="bordered">
      <% if @pages.any? %>
        <% @pages.each do |p| %>
        <tr>
          <td><%= p.id %></td>
          <td><%= p.status %></td>
          <td><%= p.url %></td>
        </tr>
        <% end %>
      <% else%>
        <tr>
          <td colspan="3">
            No uncrawled pages in the queue
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</section>