$purple: rgb(119, 51, 135);
$blue: #3567b7;
$green: rgb(65, 198, 149);

$colors: (
	purple: $purple,
	border: #888,
  header: #444,
  button: $blue,
  blue: $blue,
  green: $green
);

$panel_padding: 10px;

@function color($color) {

  @if map-has-key($colors, $color) {
    $color: map-get($colors, $color);
  } @else {
    @if type-of($color) != color {
      @error "Invalid color name: `#{$color}`.";
    }
  }

  @return $color;
}

* {
	box-sizing: border-box;
}

html,body {
	margin: 0;
	padding: 0;
	font-size: 16px;
	background: #eee;
}

header {
	background: color(header);
	color: #eee;
	padding: $panel_padding;
	text-align: center;
}

main {
	padding: $panel_padding;
}

h1 {
	margin: 0;
	margin-bottom: 0.5em;
	font-size: 1.2em;
	color: #222;
	font-family: sans-serif;

}

nav {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  margin-top: 20px;
}

section {
  margin-bottom: 10px;
}

section.stats {
  width: 50%;
}

.progress-bar {
	width: 100%;
	background: darken(orange, 20%);
	height: 50px;
	padding: 1px;

	.progress {
		background: orange;
    height: 100%;
    transition: width 0.5s;
    width: 0;
	}
}

.table {
	$cell_padding: 5px;
  $border: solid 1px #888;
  $headerColor: color($purple);

	margin-top: 10px;
  border-collapse: collapse;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
	outline: 0;
	border: $border;

  &--centered-text {
    th,td {
      text-align: center;
    }
  }

  &--left-text {
    th,td {
      text-align: left;
    }
  }

  &--full {
    width: 100%;
  }

	thead {
		tr {
			th {
        background: $headerColor;
				padding: 5px;
				color: #eee;
				padding: $cell_padding;
			}

			&:last-child th {
				border-bottom: $border;
			}
		}
	}

	tbody {
    &.bordered {
      td {
        border: solid 1px #888;
      }
    }

		tr {
			td {
				padding: $cell_padding;
			}

			&:nth-child(even) td {
				background: rgba(0, 0, 0, 0.1);
			}
		}
	}
}

// Colors
.table {
  &.blue thead tr th {
    background: color(blue);
  }

  &.purple thead tr th {
    background: color(purple);
  }
}

.center {
	text-align: center !important;
}

section.page-queue {
  .page {
    &.skipped {
      color: #aaa;
      text-decoration: line-through;
    }

    &.crawl_error {
      color: #a00;
    }
  }
}

.button {
  $topColor: color(button);
  $bottomColor: darken($topColor, 10%);
  color: #fff;

  cursor: pointer;
  border: none;
  margin: 0;
  border-radius: 5px;
  background-image: linear-gradient(to bottom, $topColor, $bottomColor);
  padding: 10px;

  text-decoration: none;
  font-size: 1em;

  &:hover {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    $topColor: lighten($topColor, 5%);
    $bottomColor: darken($topColor, 10%);
    background-image: linear-gradient(to bottom, $topColor, $bottomColor);
  }

  &:disabled {
    $disabledColor: #888;

    background-image: linear-gradient(to bottom, $disabledColor, darken($disabledColor, 10%));
  }

  & + .button {
    margin-left: 10px;
  }
}

.box {
  background:#ddd;
  padding: 15px;
  border: solid 1px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
}

.nowrap {
  white-space: nowrap;
}

.pagination {
  a {
    padding: 5px;
    border: solid 1px #ccc;
    padding-left: 10px;
    padding-right: 10px;
  }
}

#download-csv-button {
  &.generating {
    background-image: linear-gradient(to bottom, color(green), darken(color(green), 10%)) !important;
  }
}