$purple: rgb(119, 51, 135);

$colors: (
	purple: $purple,
	border: #888,
	header: #444
);

$panel_padding: 10px;

@function color($color) {

  @if map-has-key($colors, $color) {
    $color: map-get($colors, $color);
  } @else {
    @if type-of($color) != color {
      @error "Invalid color name: `#{$color}`.";
    }
  }

  @return $color;
}

* {
	box-sizing: border-box;
}

html,body {
	margin: 0;
	padding: 0;
	font-size: 16px;
	background: #eee;
}

header {
	background: color(header);
	color: #eee;
	padding: $panel_padding;
	text-align: center;
}

main {
	padding: $panel_padding;
}

h1 {
	margin: 0;
	margin-bottom: 0.5em;
	font-size: 1.2em;
	color: #222;
	font-family: sans-serif;

}

section.stats {
  width: 50%;
}

.progress-bar {
	width: 100%;
	background: darken(orange, 20%);
	height: 50px;
	padding: 1px;

	.progress {
		background: orange;
    height: 100%;
    transition: width 0.5s;
    width: 0;
	}
}

.table {
	$cell_padding: 5px;
	$border: solid 1px #888;

	margin-top: 10px;
  border-collapse: collapse;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
	outline: 0;
	border: $border;

    &--centered-text {
    	th,td {
    		text-align: center;
    	}
    }

    &--left-text {
    	th,td {
    		text-align: left;
    	}
    }

    &--full {
    	width: 100%;
    }

	thead {
		tr {
			th {
        background: rgb(119, 51, 135);
				padding: 5px;
				color: #eee;
				padding: $cell_padding;
			}

			&:last-child th {
				border-bottom: $border;
			}
		}
	}

	tbody {
    &.bordered {
      td {
        border: solid 1px #888;
      }
    }

		tr {
			td {
				padding: $cell_padding;
			}

			&:nth-child(even) td {
				background: rgba(0, 0, 0, 0.1);
			}
		}
	}
}

.center {
	text-align: center !important;
}

section.page-queue {
  .page {
    &.skipped {
      color: #aaa;
      text-decoration: line-through;
    }

    &.crawl_error {
      color: #a00;
    }
  }
}